{
	"folders": [
		{
			"path": "."
		}
	]{% if extensions or settings %},
	{% if settings %}"settings": {{ settings | tojson }},{% endif %}
	{% if extensions %}"extensions": {
		"recommendations": {{ extensions | tojson }}
	}{% endif %}{% endif %}
}